song{
    color: #FFFFFF;
    background-color: #5B5A5A;
    width:100%;
    padding: 10px
}

songSet, song, name, artist, genre, releaseYear {
    display: block;
    text-align: center;
}

name{
      font-weight: bold;
}